-i https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu118/
numpy
pandas
pytorch-lightning
torch
torchvision
torchmetrics
sentence-transformers
redis
pypdf
bs4
pgvector
psycopg[binary,pool]
langchain
langchain-community
langchain-core
langchain-elasticsearch
langchain-text-splitters
langchain-sqlserver
langchain-huggingface
